#NODE_ENV=production

#PORT=8081
#HOSTNAME=localhost
USER_AGENT="SOUND Roster App / My Name <my-email-address>"

COOKIE_SECRET=ostrich
SSO_CLIENT_ID=<client-id>
SSO_SECRET_KEY=<secret-key>

#DB_FILE_NAME=roster.sqlite
#LOG_DIR=logs
#LOG_LEVEL=trace

#DEBUG_ROLES='["__member", "admin"]'
