#NODE_ENV=production

#PORT=8081
#HOSTNAME=localhost
USER_AGENT="SOUND Roster App / My Name <my-email-address>"

COOKIE_SECRET=ostrich
SSO_CLIENT_ID=<client-id>
SSO_SECRET_KEY=<secret-key>

DATABASE_URL=postgres://<username>@localhost:5432/eve_roster

#DB_FILE_NAME=roster.sqlite
#LOG_DIR=logs
#LOG_LEVEL=trace

#DEBUG_GROUPS='["__member", "admin"]'
#DEBUG_DISABLE_CRON=true

HONEYCOMB_API_KEY=
HONEYCOMB_DATASET=
