NODE_ENV=development

# --------------------------------------
# Fill these in:

SSO_CLIENT_ID=<client-id>
SSO_SECRET_KEY=<secret-key>
DATABASE_URL=postgres://<username>@localhost:5432/eve_roster

# --------------------------------------

# Set this to false if you're just working on the server-side and you don't
# want to recompile the client each time the server starts up. If set to false,
# you must manually build the client once by calling `yarn build-client`
CLIENT_DEV_MODE=true

# Set this to `true` to disable all of the server's automated data retrieval
# tasks. Once you've completed initial server setup and it's synced in the
# roster, this can be a good idea, so a random background task doesn't run and
# confuse something that you're debugging at the moment.
DEBUG_DISABLE_CRON=false

# Uncomment this to force your account to have these groups. The ones listed
# below cause you to be considered a member of the corp and an admin (the
# latter allows you to see the admin dashboards)
#DEBUG_GROUPS='["__member", "admin"]'

# You can probably leave these alone
PORT=8081
USER_AGENT="SOUND Roster App (dev)"
COOKIE_SECRET=ostrich
