{
  "corporations": [
    {
      "id": 123456,
      "primary": true,
      "keyId": 123456,
      "vCode": "z8alsdALsd...lasdA0923",
      "titles": {
        "Staff": "admin",
        "Rocketstar": "full_member",
        "Junior Rocketstar": "provisional_member"
      }
    },
    {
      "id": 123456,
      "keyId": 123456,
      "vCode": "z8alsdALsd...lasdA0923"
    }
  ],

  // Uncomment and provide account name and password for siggy in order to
  // scrape siggy stats. The account must be registered directly with siggy
  // "siggy": {
  //   "username": "<fillmein>",
  //   "password": "<fillmein>"
  // }
}
