doctype html
html
  head
    meta(charset='utf-8')
    title SOUND Roster
    script.
      var $__IDENTITY = !{identity};
  body
    #app
      keep-alive
        router-view(
            'v-if'='$route.meta.keepAlive'
            ':identity'='identity'
            )
      router-view(
          'v-if'='!$route.meta.keepAlive'
          ':identity'='identity'
          )
