html
  head
    title SOUND Roster - Log in
  body
    div.root(style={
          'background-image': 'url("/static/background/' + backgroundUrl + '")'
        })
      div.container
        div.title-line
          img.sound-icon(
            src='https://imageserver.eveonline.com/Alliance/99000739_128.png'
          )
          span.title-text Roster
        div.button-cnt
          a.auth-btn.login-link(
            href=`https://login.eveonline.com/oauth/authorize?state=logIn&${loginParams}`
          ) Log in
          a.auth-btn.create-link(
            href=`https://login.eveonline.com/oauth/authorize?state=createAccount&${loginParams}`
          ) Register
        .footer
          | You will authenticate via
          |
          a.sso-faq-link(
            href=`https://support.eveonline.com/hc/en-us/articles/205381192-Single-Sign-On-SSO-`
          ) EVE SSO
          |.
