doctype html
html
  head
    meta(charset='utf-8')
    title SOUND Roster
    script.
      var $IDENTITY = {
        characterId: 996613635,
        name: 'Bloodstripes',
        role: 'admin',
      };
    style.
      body {
        margin: 0;
        padding: 0;

        font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif;
        font-size: 16px;

        background: #202020;
        color: #CDCDCD;
      }

      input {
        font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif;
      }

      a {
        color: #7cbce4;
      }

      a:visited {
        color: #9b82f7;
      }
  body
    #app
      keep-alive
        router-view(
            'v-if'='$route.meta.keepAlive'
            ':identity'='identity'
            )
      router-view(
          'v-if'='!$route.meta.keepAlive'
          ':identity'='identity'
          )
    script(src='/dist/home.build.js')
