{
  "cookieSecret": "penguin",

  "ssoClientId": "<fillmein>",
  "ssoSecretKey": "<fillmein>",

  "primaryCorporations": [
    {
      "id": 123456,
      "keyId": 123456,
      "vCode": "z8alsdALsd...lasdA0923"
    }
  ],

  "altCorporations": [
    {
      "id": 123456,
      "keyId": 123456,
      "vCode": "z8alsdALsd...lasdA0923",
      "titles": {
        "Staff": "admin",
        "Rocketstar": "full_member",
        "Junior Rocketstar": "limited_member"
      }
    }
  ],

  // Uncomment and provide account name and password for siggy in order to
  // scrap siggy stats. The account must be registered directly with siggy
  // "siggy": {
  //   "username": "<fillmein>",
  //   "password": "<fillmein>"
  // }

  // Uncomment this line if doing front-end development
  // "serveMode": "dev-frontend",

  // Force all requests to be handled as if the client's account had the
  // following roles. Set to [] to designate a client with no roles whatsoever.
  // "debugRoles": ["admin"],

  // Add the following latency (in ms) to all API requests. Useful for
  // simulating more realistic network conditions.
  // "debugRequestLatency": 1000

  // Uncomment this to use stub output responses for routes, stored in api-stubs/
  // "useStubOutput": true,
}
